In [5]:
### setting source planet

In [6]:
from skyfield.api import load
planets = load('de421.bsp')
earth = planets['earth']

In [7]:
### getting all star data

In [8]:
from skyfield.data import hipparcos

with load.open(hipparcos.URL) as f:
    stars = hipparcos.load_dataframe(f)

In [29]:
stars.head()

,magnitude,ra_degrees,dec_degrees,parallax_mas,ra_mas_per_year,dec_mas_per_year,ra_hours,epoch_year
hip,,,,,,,,
1,9.10,0.000912,1.089013,3.54,-5.20,-1.88,0.000061,1991.25
2,9.27,0.003797,-19.498837,21.90,181.21,-0.93,0.000253,1991.25
3,6.61,0.005008,38.859286,2.81,5.24,-2.91,0.000334,1991.25
4,8.06,0.008382,-51.893546,7.75,62.85,0.16,0.000559,1991.25
5,8.55,0.009965,-40.591224,2.87,2.53,9.07,0.000664,1991.25